@import '../../../../@theme/styles/themes';
@import '@nebular/theme/styles/global/breakpoints';
@import 'bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  // .full-height {
  //   height: calc(100vh - 280px);
  //   min-height: 270px;
  // }..

  nb-card-header {
    display: flex;
    align-items: center;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  .header-button {
    .nb-square {
      font-size: 1rem;
    }

    @include nb-ltr {
      margin-left: auto;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    @include nb-rtl {
      margin-right: auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  
  .page-drag-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
    pointer-events: none;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.5);
    animation: fadeBorder 2s ease-in-out infinite;
  }
  
  @keyframes fadeBorder {
    0% {
      box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: inset 0 0 0 40px rgba(255, 255, 255, 0.5);
    }
    100% {
      box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.2);
    }
  }

  .page-title {
    text-align: center;
    // font-size: 24px;
    font-family: var(--arabic-font);
  }
  
  .image-container {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    margin-bottom: 40px;      /* Add space between image and other elements */
  }
  
  .fr-icon {
    width: 150px;  /* Adjust the size as necessary */
    height: auto;  /* Maintain aspect ratio */
  }

  .fixed-column {
    position: fixed;
    left: 0;
    top: 80px;
    bottom: 0;
    background-color: #f7f9fc;
  }

  .fr-content {
    display: block;
    margin-left: 300px;
    padding: 0px !important;
  }
  
  nb-icon {
    margin: 1rem;
  }

  nb-card-footer {
    text-align: right;
  }

  nb-action {
    cursor: pointer;
    border-radius: 2px;

    nb-icon {
      @include nb-ltr(margin-right, 0.5rem);
      @include nb-rtl(margin-left, 0.5rem);
    }

    ::ng-deep svg {
      vertical-align: top;
    }
  }

  .preview-card {
    transform: translate3d(0, 0, 0);
  }

  .mat-icon {
    font-size: 20px !important;
    width: 20px;
    height: 20px;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    top: 5px;
  }

  .mat-mdc-fab.mat-accent,
  .mat-mdc-mini-fab.mat-accent {
    --mdc-fab-container-color: var(--main-color);
    --mdc-fab-icon-color: #fff;
    --mat-mdc-fab-color: #fff;
    font-family: var(--arabic-font);
  }

  .add-button {
    color: green;
  }

  .edit-button {
    color: blue;
  }

  .delete-button {
    color: red;
  }

  .search-field {
    width: 100%;
  }

  .no-items-container {
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .no-items-label {
    color: grey;
    font-family: var(--arabic-font);
    margin-bottom: 20px;
  }

  th {
    font-family: var(--arabic-font);
    font-weight: bold;
  }

  td {
    padding-bottom: 20px;
  }

  td,
  mat-label,
  mat-paginator {
    font-family: var(--arabic-font);
  }

  .mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-focus-icon-color: var(--main-color);
    --mdc-checkbox-selected-hover-icon-color: var(--main-color);
    --mdc-checkbox-selected-icon-color: var(--main-color);
    --mdc-checkbox-selected-pressed-icon-color: var(--main-color);
  }

  .mat-column-select {
    width: 80px;
    max-width: 80px;
  }
}

@include media-breakpoint-down(xl) {
  nb-action {
    padding: 0;
  }
}

nb-card-header, ngx-dropzone-label {
  font-family: var(--arabic-font);
}

span {
  font-family: var(--arabic-font);
  text-align: center;
}

.faces-title {
  font-family: var(--arabic-font);
  font-size: 1.5rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.upload-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.faces-card-body {
  max-height: 400px; /* Adjust height based on available space */
  overflow-y: auto;  /* Enable vertical scrolling */
  padding: 10px;
  display: flex;
  flex-direction: column; /* Stack faces vertically */
  gap: 10px;  /* Add spacing between faces */

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 12px;
  justify-items: center;
  align-items: center;
}

.face-card {
  width: auto;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto; /* Ensure the card is centered */

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform: scale(1); /* Default scale */
}

.face-card:hover {
  transform: scale(1.05); /* Slightly increase the size on hover */
}

/* Nationality smooth transition */
.hidden-info {
  opacity: 0;
  transform: translateY(5px); /* Start slightly below */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition */
}

.hidden-info.visible {
  opacity: 1; /* Fade in */
  transform: translateY(0); /* Move to its normal position */
}

.hidden-info.hidden {
  opacity: 0; /* Fade out */
  transform: translateY(5px); /* Move slightly below */
}

.face-image {
  width: auto;
  height: 200px;
  object-fit:cover; /* Ensures the image maintains its aspect ratio */
  border-radius: 8px; /* Add some rounding to make it look better */
}

.face-info {
  display: flex;
  flex-direction: column;
}

.face-info span {
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

nb-card-body {
  display: flex;
}

.face-row {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  overflow: hidden; /* To avoid overflow when scaling */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.face-row img {
  width: 100%;
  height: auto;
}

.face-row:hover {
  transform: scale(1.1); /* Increase the size by 10% on hover */
}

.image-face {
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100px;  /* Set a consistent width for the face thumbnails */
  height: auto;
}



// ngx-dropzone {
//   height: 100% !important;
// }

.hover-action nb-icon {
  transition: color 0.3s ease;
}

.hover-action:hover nb-icon {
  color: var(--nb-primary-focus); /* Or any color you'd like for the hover effect */
  transform: scale(1.2);
}

.upload-video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.upload-video-preview {
  margin-bottom: 5px;
}

.upload-label {
  text-align: center;
  font-size: small;
  margin: 0;
  direction: ltr;
}

.nb-action-hover {
  font-family: var(--arabic-font);
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.nb-action-hover:hover:not(.disabled):not([disabled]) {
  transform: scale(1.1);
  color: #2a75d4; /* Change text color on hover */
}

.nb-action-hover:hover:not(.disabled):not([disabled]) nb-icon {
  color: #2a75d4; /* Change icon color on hover */
}

.nb-action-hover.disabled,
.nb-action-hover[disabled] {
  cursor: not-allowed;
  opacity: 0.6; /* Optionally, change opacity to indicate disabled state */
}

.mat-column-id {
  width: 100px;
  max-width: 100px;
}

.mat-column-filePreview {
  width: 350px;
  max-width: 350px;
}

.small-spinner {
  width: 30px !important;
  height: 30px !important;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.fake {
  color: red;
}

.real {
  color: green;
}