<!-- Spinner overlay -->
<div class="overlay" *ngIf="isProcessing">
  <nb-spinner [status]="'info'" [size]="'giant'" [message]="''"></nb-spinner>
</div>

<!-- Dragging effect -->
<div *ngIf="!isAnalyzing" [ngClass]="{ 'page-drag-over': isDragOver }"></div>

<!-- Content -->
<nb-layout-column
  class="fr-content"
  [ngStyle]="{ 'margin-left.px': fixedColumnWidth }"
>
  <div style="display: flex; justify-content: space-between">
    <nb-card
      [ngStyle]="
        selectedFilePreview != null && selectedFilePreview.faces.length > 1
          ? { width: '75%' }
          : { width: '100%' }
      "
    >
      <nb-card-header
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <span>تجربة جديدة</span>
        <nb-actions *ngIf="showImagePreview">
          <nb-action
            nbRipple
            class="hover-action"
            nbTooltip="إضافة"
            nbTooltipPlacement="top"
          >
            <nb-icon icon="star-outline" pack="eva"></nb-icon>
          </nb-action>
          <nb-action nbRipple class="hover-action">
            <nb-icon icon="settings-outline" pack="eva"></nb-icon>
          </nb-action>
          <nb-action
            nbRipple
            class="hover-action"
            style="color: red"
            (click)="onRemove(selectedFilePreview)"
          >
            <nb-icon icon="trash-2-outline" pack="eva"></nb-icon>
          </nb-action>
        </nb-actions>
      </nb-card-header>

      <nb-card-body>
        <!-- Show when no images are uploaded -->
        <ngx-dropzone
          (change)="addingFiles($event.addedFiles)"
          class="upload-zone"
          [expandable]="true"
          [disabled]="isAnalyzing"
          accept="image/*"
        >
          <ngx-dropzone-label *ngIf="!showImagePreview"
            >اسحب الملف أو انقر هُنا</ngx-dropzone-label
          >

          <div class="upload-video-container">
            <!-- Image Preview -->
            <div
              *ngIf="showImagePreview"
              style="position: relative; display: inline-block"
            >
              <!-- Image -->
              <img
                #imageElement
                [src]="selectedFilePreview?.url"
                alt="Preview Image"
                style="width: auto; max-height: 300px; display: block"
                (load)="onImageLoad($event)"
              />
              <!-- Canvas overlay for rectangles -->
              <canvas
                #canvasElement
                style="position: absolute; top: 0; left: 0"
              ></canvas>
            </div>
            <!-- Image Label -->
            <ngx-dropzone-label *ngIf="showImagePreview" class="upload-label">{{
              selectedFilePreview.file.name
            }}</ngx-dropzone-label>
            <!-- Progress Bar -->
            <div class="progress-bar" *ngIf="showImagePreview">
              <div
                class="progress"
                [style.width.%]="selectedFilePreview.progress"
              ></div>
            </div>
          </div>
        </ngx-dropzone>
      </nb-card-body>

      <nb-card-footer
        *ngIf="filePreviews.length > 1"
        style="overflow-x: auto; white-space: nowrap"
      >
        <nb-actions size="large" fullWidth>
          <nb-action
            matRipple
            *ngFor="let f of filePreviews"
            (click)="selectFilePreview(f)"
          >
            <img
              [src]="f.url"
              alt="Thumbnail"
              style="
                width: auto;
                max-height: 100px;
                object-fit: cover;
                padding: 10px;
              "
            />
          </nb-action>
        </nb-actions>
      </nb-card-footer>
    </nb-card>

    <nb-card
      *ngIf="
        selectedFilePreview != null && selectedFilePreview.faces.length > 1
      "
      style="width: 20%"
    >
      <nb-card-header>الوجوه المستخرجة</nb-card-header>
      <nb-card-body>
        <div
          class="container-fluid"
          style="
            max-height: 450px;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #888 #f1f1f1;
          "
        >
          <div
            class="face-row"
            *ngFor="let face of selectedFilePreview.faces"
            (click)="adjustSelectedFace(face)"
          >
            <span *ngIf="selectedFilePreview.faces.length > 1">{{
              face.name
            }}</span>
            <img
              *ngIf="face.url"
              class="image-face"
              [src]="face.url"
              alt="Cropped Face Image"
            />
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div
    *ngIf="
      selectedFilePreview != null &&
      selectedFilePreview.selectedFace != null &&
      selectedFilePreview.selectedFace.results.length > 0
    "
    class="card-grid"
  >
    <div
      *ngFor="let record of selectedFilePreview.selectedFace.results"
      size="small"
      class="face-card"
      (click)="openDialog(record)"
      (mouseenter)="record.isHovered = true"
      (mouseleave)="record.isHovered = false"
    >
      <div class="image-container">
        <img [src]="record.url" alt="Cropped Face Image" class="face-image" />
      </div>
      <div class="face-info">
        <span>{{ Helper.enToAr(record.score | number : "1.2-2") }}%</span>
        <span>({{ Helper.enToAr(record.image_id) }})</span>
        <span style="font-weight: bold">
          {{ Helper.enToAr(record.index) }}.
          {{
            record.nameAr
              ? record.nameAr
              : record.nameEn
              ? record.nameEn
              : "بدون اسم"
          }}</span
        >
        <span
          [ngClass]="{ visible: record.isHovered, hidden: !record.isHovered }"
          class="hidden-info"
          >{{ record.birthdate }}</span
        >
        <span
          [ngClass]="{ visible: record.isHovered, hidden: !record.isHovered }"
          class="hidden-info"
          >{{ record.nationality }}</span
        >
      </div>
    </div>
  </div>
</nb-layout-column>

<!-- Fixed Column Left-->
<nb-layout-column
  *ngIf="fixedColumnWidth > 0"
  class="fixed-column"
  [ngStyle]="{ 'width.px': fixedColumnWidth }"
>
  <nb-card
    style="margin-top: 30px"
    *ngIf="
      selectedFilePreview != null && selectedFilePreview.selectedFace != null
    "
  >
    <nb-card-header
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <span
        >الوجه محل البحث
        {{
          selectedFilePreview.faces.length > 1
            ? "(" + selectedFilePreview.selectedFace.name + ")"
            : ""
        }}</span
      >
      <nb-actions>
        <nb-action
          nbRipple
          class="hover-action"
          nbTooltip="تحسين الصورة"
          nbTooltipPlacement="top"
          style="padding: 0px"
          (click)="enhanceImage(selectedFilePreview.selectedFace)"
        >
          <nb-icon icon="bulb-outline" pack="eva"></nb-icon>
        </nb-action>
      </nb-actions>
    </nb-card-header>
    <nb-card-body
      style="display: flex; justify-content: center; align-items: center"
    >
      <img
        [src]="selectedFilePreview.selectedFace.url"
        alt="Preview Image"
        style="width: 180px; height: auto; display: block"
      />
    </nb-card-body>
  </nb-card>
</nb-layout-column>
